<!DOCTYPE html>
<html>
	<head>
		<title>
			Neural Network Generator
		</title>
		<!-- <link rel= "stylesheet" type="text/css" href="/stylesheets/app.css"> -->
		<!-- the / indicates that we should look for app.css in the root folder meaning outside of partials... so in public (layer outwards) -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
		<!-- We are including semantic-ui library which is like another bootstrap and our own css -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>



		<script>

			function addFields(){
	            var number = document.getElementById("layer_num").value;
	            var container = document.getElementById("layers");
	            while (container.hasChildNodes()) {
	                container.removeChild(container.lastChild);
	            }
	            for (i=0;i<number;i++){

	            	if (i+1==number){
		            	container.appendChild(document.createElement("br"));
		                container.appendChild(document.createTextNode("Layer " + (i+1)));
		                container.appendChild(document.createElement("br"));

		                container.appendChild(document.createTextNode("Units"));
						select = document.createElement("select");
						select.name="units"+i;

						select.options.add( new Option(1,1, true , true) );
		                container.appendChild(select);
		                container.appendChild(document.createElement("br"));



		                container.appendChild(document.createTextNode("Activation"));
						select = document.createElement("select");
						select.name="activation"+i;

						select.options.add( new Option("Linear","linear", true , true) );
		                container.appendChild(select);
		                container.appendChild(document.createElement("br"));

	            	} else{
    			        container.appendChild(document.createElement("br"));
		                container.appendChild(document.createTextNode("Layer " + (i+1)));
		                container.appendChild(document.createElement("br"));


		               	container.appendChild(document.createTextNode("Units"));
		                var input = document.createElement("input");
		                input.type = "text";
		                input.name="units"+i;
		                container.appendChild(input);
		                container.appendChild(document.createElement("br"));


		                container.appendChild(document.createTextNode("Activation"));
						select = document.createElement("select");
						select.name="activation"+i;

						select.options.add( new Option("","", true, true) );
						select.options.add( new Option("Rectified Linear Unit","relu") );
						select.options.add( new Option("Sigmoid","sigmoid") );
						select.options.add( new Option("Softplus","softplus") );
						select.options.add( new Option("Softsign","softsign") );
						select.options.add( new Option("Hyperbolic Tangent","tanh") );
						select.options.add( new Option("Scaled Exponential Linear Unit","selu") );
						select.options.add( new Option("Exponential","exponential") );
						select.options.add( new Option("Linear","linear") );
		                container.appendChild(select);
		                container.appendChild(document.createElement("br"));

	            	}
	            function removeFields(){
					$('#page').hide();
					$('#preloader').style.display="block";
	            }







	            }
    		}
		</script>

	</head>
		<body>
			<div class="ui container center" id="preloader" style="display: none;">

				<img class="ui fluid image" src="./static/loading/Spinner-1s-200px.gif">

			</div>

			<div class="ui container center" id="page">

				<h1 class="ui huge header centered" >Neural Network and Dataset Configuration Form</h1>
				<form action="/results" method="POST" class="ui form" onsubmit="removeFields()">
				  <h4 class="ui dividing header"> Curve Dataset Configuration</h4>
				  <div class="field">
				    <div class="field">
				    	<label> Curve Output Parameter: y</label>
				    	<select class="ui fluid dropdown" name="funct" id="function_output">
					    	<option value="" selected=""></option>	
					        <option value="Sine Function">Sine Function</option>
						    <option value="Cosine Function">Cosine Function</option>
						    <option value="Quadratic Function">Quadratic Function</option>
						    <option value="Logarithmic Function">Logarithmic Function</option>
						    <option value="Exponential Function">Exponential Function</option>
						    <option value="Cubic Function">Cubic Function</option>
						    <option value="Square Root Function">Square Root Function</option>

				     	</select>
				    </div>
				  </div>

				  <div class="field nonez">
				    <label></label>
				    <div class="field">
				    </div>
				  </div>


				  <div class="field function_input">
				    <label>Curve Input Parameter: X</label>
				    <div class="three wide field">
				      <label>Range</label>
						<input type="text" name="range0" placeholder="">
						<input type="text" name="range1" placeholder="">
				    </div>				    

				  </div>

				  <div class="field">
				    <div class="field">
				      <label>Number of Samples</label>
						<input type="text" name="num_samples" placeholder="">
				    </div>
				</div>



				  <h4 class="ui dividing header">Neural Network Configuration</h4>
				  <div class="field">
				    <label>Build</label>
				    <span>
				    <label>Number of Layers: (max. 10)</label>
				    <input type="text" id="layer_num" name="layer_num" value="">
					<a href="#" id="filldetails" onclick="addFields()">Select</a>
					</span>
				    <div id="layers"/>

					</div>
	
				  </div>

				  <div class="field">
				    <label>Compile</label>
				  </div>				  

				  <div class="fields">
				    <div class="seven wide field">
				      <label>Optimizer</label>
				      	<select class="ui fluid dropdown" name="optimizer">
					    	<option value="" selected=""></option>	
					        <option value="sgd">SGD</option>
						    <option value="Adam">Adam</option>
						    <option value="Adadelta">Adadelta</option>
						    <option value="RMSprop">RMSprop</option>
						    <option value="Adagrad">Adagrad</option>
						    <option value="Adamax">Adamax</option>
						    <option value="Nadam">Nadam</option>
				     	</select>

				    </div>

				    <div class="three wide field">
				      <label>Loss</label>
				      	<select class="ui fluid dropdown" name="loss">
					    	<option value="" selected=""></option>	
					        <option value="mean_squared_error">Mean Squared Error</option>
						    <option value="mean_absolute_error"> Mean Absolute Error</option>
						    <option value="mean_absolute_percentage_error">Mean Absolute Percentage Error</option>
						    <option value="mean_squared_logarithmic_error">Mean Squared Logarithmic Error</option>


				     	</select>
				    </div>
				    <div class="six wide field">
				      <label>Metrics</label>
				      <div class="field">
						<div class="ui form">
						  <div class="grouped fields">

							<div class="ui checkbox">
							  <input type="checkbox" name="METRIC_mean_squared_error">
							  <label>Mean Squared Error</label>
							</div>

							<div class="ui checkbox">
							  <input type="checkbox" name="METRIC_mean_absolute_error">
							  <label>Root Mean Absolute Error</label>
							</div>


							<div class="ui checkbox">
							  <input type="checkbox" name="METRIC_mean_absolute_percentage_error">
							  <label>Mean Absolute Percentage Error</label>
							</div>		

							<div class="ui checkbox">
							  <input type="checkbox" name="METRIC_mean_squared_logarithmic_error">
							  <label> Mean Squared Logarithmic Error</label>
							</div>	


							<div class="ui checkbox">
							  <input type="checkbox" name="METRIC_logcosh">
							  <label>LogCosh Error</label>
							</div>									

						  </div>
						</div>
				      </div>
				    </div>
				  </div>


				  <div class="field">
				    <label>Fit</label>
				  </div>	

				  <div class="fields">
				    <div class="seven wide field">
				      <label>Batch Size</label>
					  <input type="text" name="batch_size" placeholder="">


				    </div>

				    <div class="three wide field">
				      <label>Epochs</label>
						<input type="text" name="epochs" placeholder="">

				    </div>
				    <div class="six wide field">
				      <label>Validation Split</label>
				      <div class="field">
						<input type="text" name="validation_split" placeholder="">
				      </div>
				    </div>
				  </div>

				  <div>
				  	<input type="submit">
				 </div>
				</form>				
				
			</div>	

		<script>
			$('#preloader').hide()
			$('.function_input').hide()

			$('#function_output').change(function () {
				if (this.value ==""){
					$('.function_input').hide();
					$('.nonez').show();

				}
				else{
					$('.nonez').hide();
					$('.function_input').show();
				}
			});	


	
		</script>

	</body>
	
</html>
  
